# Don't include the release directories in the Docker context. They're mounted into
# the container at runtime, and they can grow to be huge which will slow down
# container startup.

release/
release_*/
