/preinstall
/preinstall.*

# This is your local configuration. Start by copying vars.sh.example.
/vars.sh

/tmp.*

# By convention, releases go in directories starting with release_.
/release_*

# I use script(1) a lot when debugging Docker builds.
/typescript
