# shellcheck shell=bash

##
## These variables might legitimately be changed by the user.
##

# The location of a shared ccache, which will get populated over time.
export CCACHE_DIR=$HOME/.ccache

# Keep CCACHE_CONF under CCACHE_DIR or you'll confuse matters.
export CCACHE_CONF=$CCACHE_DIR/ccache.conf

# This is used if you're cloning a remote repository directly.
export CEPH_GIT=https://github.com/andrelucas/ceph.git

# This is used if you're working with a preexisting clone.
export CEPH_SRC=~/git/ceph

# This is where releases will be put by dpkg-buildpackage.
export RELEASE_DIR=$PWD/release

##
## You probably shouldn't change values below this point.
##

# The Docker binary. Podman (RHEL/Fedora) doesn't work yet, alas.
export DOCKER=docker

# At some point this will stabilise and we will be able to use non-local
# Docker images.
export IMAGENAME=cbuild
#export IMAGENAME=docker.io/andrelucas/akceph-build

# This is the host directory containing tools scripts. These are mounted into
# the container.
export TOOLS_SRC=$PWD/tools

# Paths inside the container. These don't magically change with these
# variables, they're hardcoded into the container image.
export C_CCACHE=/ccache
export C_RELEASE=/release
export C_SRC=/src
export C_TOOLS=/tools
