# The env file will be sourced by the build process. Be careful, and use
# this file sparingly.

# If you don't export your variables, they probably won't be effective.

export CC=clang
export CXX=clang++

export CXXFLAGS="-march=x86-64"
